// bootstrap
//@import "../bootstrap-4.3.1/scss/bootstrap"
@import "../bootstrap-4.3.1/scss/bootstrap-reboot"
@import "../bootstrap-4.3.1/scss/grid"

// buttons
@import "../bootstrap-4.3.1/scss/buttons"
// card
@import "../bootstrap-4.3.1/scss/card"
// navbar
@import "../bootstrap-4.3.1/scss/navbar"





// utilities ставити в низу шоб працювали скрипти
@import "../bootstrap-4.3.1/scss/utilities"
// bootstrap end



body
  background: #dddddd
  @include transition(background-color .2s)
  //@extend %grid-column


.wrapper
  margin: 50px auto
  //padding-top: 30px

  padding-bottom: 30px
  background-color: white
  //@extend body
  //display: inline-block
  @include make-container-max-widths()


.row

.col,[class*="col-"]
  background-color: #eeeeee
  overflow: hidden
  padding-bottom: 25px
  padding-top: 25px

.example-img
  img
    width: 100%

.example-card-2
  .col
    .card
      margin-right: 30px
      &:nth-child(5n+5)
        margin-right: 0

    &:nth-child(5n+5)
      .card
        margin-right: 0

.example-card-3
  .col
    margin-right: 30px
    &:nth-child(5n+5)
      margin-right: 0



// @media

 Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .container
    padding-right: 15px
    padding-left: 15px

  .col,[class*="col-"]
    flex: 0 0 50%
    max-width: 50%


// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) and (max-width: 767.98px)


// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) and (max-width: 991.98px)


// Large devices (desktops, 992px and up)
//@media (min-width: 992px) and (max-width: 1199.98px)



// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px)
